@import "../variables.scss";

.education {
  margin-bottom: $step7;
  grid-area: education;

  &__title {
    @include title();
    margin-bottom: $step4;
  }

  &__dates {
    font-size: $font-size-subtitle;
    line-height: $step4;
    margin-bottom: $step1;
  }

  &__place {
    font-size: $font-size-text;
    margin-bottom: $step1;
    line-height: $step6;
  }
}

@media screen and (max-width: 700px) {
  .education {
    margin-bottom: 0;
  }
}