@import "../variables.scss";

.experience {
  grid-area: experience;

  &__title {
    @include title();
    margin-bottom: $step4;
  }

  &__year-block {
    margin-bottom: $step4;
  }

  &__year {
    font-size: $font-size-subtitle;
    line-height: $step4;
    margin-bottom: $step3;
  }

  &__text {
    font-size: $font-size-text;
    margin-bottom:$step1;
    line-height: $step5;
  }

  &__link {
    color: $color-black;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;

    &:hover, &:focus, &:active {
      color: $color-dark-gray;
    }
  }
}