@import "../variables.scss";

.general-info {
  margin-bottom: $step8;
  grid-area: general-info;

  &__photo {
    width: 160px;
    height: 160px;

    img {
      width: 160px;
      height: 160px;
    }
  }

  &__title {
    @include title();
    margin-top: $step5;
    margin-bottom: $step2;
  }

  &__subtitle {
    font-size: $font-size-subtitle;
    margin-bottom: 20px;
  }

  &__text {
    font-size: $font-size-text;
    color: $color-black;
    margin-bottom: $step3;

    &--with-icon {
      position: relative;
    }
  }

  &__location-icon {
    height: 20px;
    width: 14px;
    fill: $color-black;
    position: absolute;
    left: -20px;
    top: -3px;
  }
}

@media screen and (max-width: 700px) {
  .general-info {
    margin-bottom: 0;
    &__text--with-icon {
      padding-left: 20px;
    }
    &__location-icon {
      left: 0;
    }
  }
}