@import "../variables.scss";

.page {
  max-width: 1200px;
  margin: $step6 auto;
  font-family: $font;
  display: grid;
  grid-column-gap: $step6;
  grid-template-areas: "general-info about-me" "general-info social-links" "skills education" ". experience";
}

@media screen and (max-width: 1280px) {
  .page {
    margin: $step6 $step6 0;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media screen and (max-width: 700px) {
  .page {
    grid-template-areas: "general-info" "about-me" "skills" "education" "experience" "social-links";
    grid-row-gap: $step6;
  }
}

@media screen and (max-width: 400px) {
  .page {
    margin: $step1 $step1 0;
  }
}
